<div class="card">
  <div class="card-header">
  </div>

  <div class="card-body">
    <% @items.each do |item| %>
      <%= item.quantity %>
    <% end %>
  </div>

  <div class="card-footer">
  <div>

</div>
