<h1 class="d-flex justify-content-center">Contact</h1>

<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-header">
      <h2>Contact</h2>
    </div>
    <div clas="card-body">
      <div class="row">
        <div class="col">
          <dl>
            <dt class="text-center">Phone number</dt>
            <dt class="text-center"> Email </dt>
          </dl>
        </div>

        <div class="col">
          <dl>
            <dd class="text-center">
              (111)111-1111
            </dd>
            <dd class="text-center">
              aslkdfjlsfj@gmail.com
            </dd>
          </dl>
        </div>
      </div>
    </div>
</div>
