
<h1 class="text-center">Items</h1>

<hr>

<div class="d-flex justify-content-around row">
  <% @items.each do |item| %>
    <div class="mx-5 flex-end col-md-3">
      <%#= render partial: "mace/homepage" %>
      <%= render partial: "mace/homepage", locals: { item: item } %>
    </div>
  <% end %>
</div>

<!-- col-md-3 offset-md-1 -->
