<div class="d-flex justify-content-center">
<div class="card col-md-3">
  <div class="card-header bg-primary">
    <h5 class="text-light">Locations</h5>
  </div>

  <div class="card-body">

  <div class="row">
    <div class="col align-self-center">
    </div>

    <div class="col">
    </div>
    </div>
    </div>
</div>
</div>
