<h1 class="col">Add new item</h1>

<hr>

<form action="/mace/insert_item" method="post" class="col">

  <label for="name">Item Name</label>
  <input id="name" type="text" name="name">

  <br>

  <label for="image">Image</label>
  <input id="image" type="text" name="image">

  <br>

  <label for="description">description</label>
  <textarea id="description" name="description"></textarea>

  <br>

  <label for="quantitu">Quantity</label>
  <input id="quantity" type="number" name="quantity">

  <br>

  <label for="item_number">Item Number</label>
  <input id="item_number" type="text" name="item_number">

  <br>

  <button>Submit</button>
</form>
