<div class="col mx-3">
  <h1>Add new item</h1>

  <hr>

  <form action="/mace/insert_item" method="post">

    <label for="name">Item Name</label>
    <input id="name" type="text" name="name">

    <br>

    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>

    <br>

    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" name="quantity">

    <br>

    <label for="item_number">Item Number</label>
    <input id="item_number" type="text" name="item_number">

    <br>

    <label for="in_stock">In Stock</label>
    <input id="in_stock" type="checkbox" name="in_stock">

    <br>

    <button>Submit</button>
  </form>
</div>
